<h1 id="quicklinks">Quicklinks</h1>

<h2>Chat</h2>
<p>Need some help? <a href="https://riot.im/app/#/room/#chris-project:matrix.org">Join the #chrisproject chat on matrix.org.</a></p>

<h2 id="chris-platform">ChRIS Platform</h2>
<ul>
  <li><a href="https://github.com/FNNDSC/CHRIS_docs">ChRIS Documentation</a></li>
  <li><a href="https://github.com/FNNDSC/ChRIS_ultron_backEnd">ChRIS Backend (CUBE) on GitHub</a></li>
  <li><a href="https://fnndsc.github.io/ChRIS_ultron_backEnd/">ChRIS Backend Rest API Documentation</a></li>
  <li><a href="https://github.com/FNNDSC/ChRIS_ui">ChRIS Frontend on GitHub</a></li>
</ul>

<h2 id="services">Services</h2>
<ul>
  <li><a href="https://github.com/FNNDSC/pfcon">process-and-file controller (pfcon)</a> - Main coordinating service.</li>
  <li><a href="https://github.com/FNNDSC/pfioh">process-and-file IO handler (pfioh)</a> - Transfer data to and from different compute environments.</li>
  <li><a href="https://github.com/FNNDSC/pman">process manager (pman)</a> - Handles processes on compute environments.</li>
  <li><a href="https://github.com/FNNDSC/pfurl">process-and-file url (pfurl)</a> - A curl-based client tailored for use in the system.</li>
</ul>

<h2 id="chris-store">ChRIS Store</h2>
<ul>
  <li><a href="https://github.com/FNNDSC/ChRIS_store">ChRIS Store Backend on GitHub</a></li>
  <li><a href="https://fnndsc.github.io/ChRIS_store/">ChRIS Store REST API Documentation</a></li>
  <li><a href="https://github.com/FNNDSC/ChRIS_store_ui">ChRIS Store Frontend on GitHub</a></li>
</ul>
