<div class="jumbotron jumbo-top">

        <div class="d-md-flex h-100">

                <div class="col-md-6 p-5 align-self-center text-center h-100">
                        <div class="d-md-flex align-items-center justify-content-center h-100">
                        </div>
                </div>
                <div class="col-md-6 transpdark align-self-center h-100 mt-5">
                        <div class="d-md-flex h-100">
                                <h2 class="d-md-block align-self-center p-3 font-weight-light"><strong>Open source</strong> medical analytics in an <strong>open cloud</strong>.</h2>
                        </div>
                        <div class="p-3">

                                <p>Supercharge your medical imaging analysis with the power of the Massachusetts Open Cloud — while still maintaining ownership of your own data. ChRIS is the platform that makes it possibleand easy.</p>
                                <p><a href="/about">Learn more →</a></p>
                                <br />
                                <a href="/demo" class="btn btn-light">Try demo →</a>
                                <a href="https://github.com/fnndsc" class="btn btn-outline-light">View on Github →</a>

                        </div>
                </div>
        </div>

</div>
