<div class="jumbotron container-fluid" id="jumbo-containerize">
    <div class="row justify-content-center">
        <div class="offset-lg-1 col-lg-4 col-md-4 col-sm-7 mt-lg-3">
            <h4 class="font-weight-light">
                ChRIS reduces the barrier to cloud and distributed computing for researchers and developers. 
            </h4><h6 class="font-weight-light mt-lg-3">
                ChRIS is an open source platform that connects an open community of researchers and developers 
                to data quickly and reliably from one computing environment to another.
            </h6>
        </div>
        <div class="col-lg-5 col-md-6 offset-md-1 col-sm-7 mt-md-0 mt-sm-5">
            <img src="{{ site.baseurl }}/assets/images/illus_containerize.png" alt="Illustration of containerizing an analytic program">
        </div>
    </div>
</div>
<div class="jumbotron container-fluid justify-content-center text-center" id="jumbo-arch">
                <img src="{{ site.baseurl }}/assets/images/diagram_chris-arch.png" class="pb-5" alt="ChRIS Architecture Diagram">
      
                <p>
                    You can easily convert existing analytics or create new ones.
                </p><p>
                    Once your analytics are containerized for ChRIS, you'll 
                    immediately have the benefits of distributed, containerized workflows.
                </p><p>
                    ChRIS uses leading open source technologies to standardize cloud-based 
                    healthcare application development, removing barriers to innovation 
                    so you can focus on your data.  
                </p>
</div>

<div class="jumbotron container-fluid" id="jumbo-frontend">
        <div class="row justify-content-center align-items-sm-center">
                <div class="offset-md-1 col-md-4 col-sm-12">
                    <p>
                    ChRIS is an open, scalable, shareable platform with a beautiful 
                    front-end that enables researchers to create, share, and run 
                    analytic workflows in the cloud exclusively within a graphical 
                    user interface.
                    </p>
                </div>
                <div class="offset-md-1 col-md-6 offset-md-1 col-sm-12 mt-md-0 mt-sm-2">
                        <img src="{{ site.baseurl }}/assets/images/chris-screenshot.jpg" alt="ChRIS UI Screenshot">
                </div>
        </div>
</div>

<div class="jumbotron container-fluid" id="jumbo-envs">
        <div class="row justify-content-center align-items-center text-center">
                <div class="col-12 mt-3">
                    <p class="mt-3 mb-3">
                        ChRIS workflows can run anywhere — on your laptop, in your lab, on an HPC, or in the cloud.
                    </p>
                </div>
                <div class="col-12 mt-2 text-center mb-3">
                        <img class="mb-3 mt-3" src="{{ site.baseurl }}/assets/images/illus_envs.png" alt="Laptop, server, and cloud environments icons">
                </div>
        </div>
</div>


<div class="jumbotron container-fluid" id="jumbo-partners">
        <div class="row align-items-sm-center mt-3 mb-3">
            <div class="offset-md-1 col-lg-2 col-md-3 col-sm-6 text-center mb-sm-5 mb-xs-5">
                <img src="{{ site.baseurl }}/assets/images/logos/redhat_rev.png" alt="Red Hat logo">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 text-center mb-sm-5 mb-xs-5">
                    <img src="{{ site.baseurl }}/assets/images/logos/moc.png" alt="MOC logo">
                </div>
            <div class="col-lg-5 offset-lg-1 col-md-4 offset-md-0 pt-md-0 offset-sm-3 col-sm-6 pt-sm-2 font-weight-light">
                <p>
                    Through our strong partnership with Red Hat and the 
                    Massachusetts Open Cloud (MOC), you can deploy 
                    workflows to the MOC — while still maintaining 
                    ownership of your own data.
                </p>
            </div>
        </div>
</div>

<div class="jumbotron container-fluid" id="jumbo-why">
        <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6 col-12">
                    <h2>Why use ChRIS?</h2>
                    <p>
                        ChRIS is a revolutionary platform that allows researchers the ability to 
                        simply deploy their applications in a cloud infrastructure with access 
                        to <strong>more data</strong>, <strong>more compute</strong>, and <strong>more collaboration</strong> to drive medical innovation.
                    </p>
                </div>
        </div>
        <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-1 col-md-2 mt-2 col-sm-3 text-center">
                        <img src="{{ site.baseurl }}/assets/images/illus_data.png" alt="Data icon">
                </div>
                <div class="col-lg-1 col-md-2 mt-2 col-sm-3 text-center">
                        <img src="{{ site.baseurl }}/assets/images/illus_compute.png" alt="Compute icon">
                </div>
                <div class="col-lg-1 col-md-2 mt-2 col-sm-3 text-center">
                        <img src="{{ site.baseurl }}/assets/images/illus_collaborate.png" alt="Collabore icon">
                </div>
        </div>
</div>