<div class="jumbotron jumbo-top">
<video onloadeddata="this.play();" poster="poster.png" playsinline loop muted style="position:fixed; top: 50%; left: 50%; transform: translate(-50%,-50%)">
                        <source src="/assets/video/jumbo-vid.mp4" type="video/mp4">
                        <source src="/assets/video/jumbo-vid.webm" type="video/webm">
                        Your browser doesn't support the video element.
</video>
        <div class="d-md-flex h-100">
               
                <div class="col-sm-12 col-md-6 offset-md-6 align-self-center h-100 mt-5">
                        <div class="d-md-flex h-100">
                                <h2 class="d-md-block align-self-center p-3 font-weight-light">
                                ChRIS is a general-purpose, open source distributed data and computation platform.
                                </h2>
                        </div>
                        <div class="p-3">

                                <a href="/demo" class="btn btn-light">View a demo →</a>
                                <a href="https://github.com/fnndsc" class="btn btn-outline-light">Visit our Github →</a>

                        </div>
                </div>
        </div>

</div>