<div class="video-container">
        <div class="jumbotron jumbo-top">
                <video onloadeddata="this.play();" poster="poster.png" playsinline loop muted>
                        <source src="assets/video/jumbo-vid.mp4" type="video/mp4">
                        <source src="assets/video/jumbo-vid.webm" type="video/webm">
                        Your browser doesn't support the video element.
                </video>
                <div id="video-shade">
                
                </div>
                <div class="video-text d-md-flex h-100">
               
                        <div class="col-sm-12 col-md-7 offset-md-5 align-self-center">
                                <div class="h-100">
                                        <h3 class="d-md-block align-self-center p-3 font-weight-light">
                                        ChRIS is a fully open source distributed data and computation platform. Born of biomedical image science and tempered by scientific workflows, ChRIS is ideal for running complex analyses on any data almost anywhere.
                                        </h3>                     
                                        <h5 class="d-md-block align-self-center p-3 font-weight-light">
                                        When open source meets passion and curiosity, it unleashes the potential to evolve research, integrate technology and inform better care.
                                        </h5>
                                </div>
                                <div class="p-3">
                                        <a href="/for-users" class="btn btn-light">View a demo →</a>
                                        <a href="https://github.com/fnndsc" class="btn btn-outline-light">Visit our Github →</a>
                                </div>
                        </div>
                </div>
        </div>

</div>
