<h3>Boston Children's Hospital Team</h3>

<div class="card-columns" style="font-size: .75em">
  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/images/team/ellengrant.jpg" alt="Ellen Grant">
    <div class="card-body">
      <h6 class="card-title">Ellen Grant</h6>
       <p class="card-text">Staff Clinician, Professor in Radiology at Harvard Medical School</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/images/team/rudolphpienaar.jpg" alt="Rudolph Pienaar">
      <div class="card-body">
        <h6 class="card-title">Rudolph Pienaar</h6>
        <p class="card-text">Staff Scientist &amp; Technical Director - Principal ChRIS Architect</p>
      </div>
  </div>
</div>
<div class="card-columns" style="font-size: .75em">

  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/images/team/jorgebernal.jpg" alt="Jorge Bernal">
    <div class="card-body">
      <h6 class="card-title">Jorge Bernal</h6>
      <p class="card-text">Research Software Engineer - ChRIS Backend</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/images/team/gideonpinto.jpg" alt="Gideon Pinto">
    <div class="card-body">
      <h6 class="card-title">Gideon Pinto</h6>
      <p class="card-text">Research Developer - ChRIS Frontend</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="/assets/images/team/sandipsamal.jpg" alt="Sandip Samal">
    <div class="card-body">
      <h6 class="card-title">Sandip Samal</h6>
      <p class="card-text">Research Developer - ChRIS</p>
    </div>
  </div>
</div> 
 
<h3>Boston University Team</h3>

TBA

<h3>Red Hat Team</h3>

TBA