<div id="team">
<h3>Boston Children's Hospital Team</h3>

<div class="card-columns" style="font-size: .75em">
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/ellengrant.jpg" alt="Ellen Grant">
    <div class="card-body">
      <h6 class="card-title">Ellen Grant</h6>
      <p class="card-text">Staff Clinician, Professor in Radiology at Harvard Medical School</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/rudolphpienaar.jpg" alt="Rudolph Pienaar">
      <div class="card-body">
        <h6 class="card-title">Rudolph Pienaar</h6>
        <p class="card-text">Staff Scientist &amp; Technical Director - Principal ChRIS Architect</p>
      </div>
  </div>
</div>
<div class="card-columns" style="font-size: .75em">
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/jorgebernal.jpg" alt="Jorge Bernal-Rusiel">
    <div class="card-body">
      <h6 class="card-title">Jorge Bernal-Rusiel</h6>
      <p class="card-text">Research Software Engineer - ChRIS Backend</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/gideonpinto.jpg" alt="Gideon Pinto">
    <div class="card-body">
      <h6 class="card-title">Gideon Pinto</h6>
      <p class="card-text">Research Developer - ChRIS Frontend</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/sandipsamal.jpg" alt="Sandip Samal">
    <div class="card-body">
      <h6 class="card-title">Sandip Samal</h6>
      <p class="card-text">Research Developer - ChRIS</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/arushivyas.jpg" alt="Arushi Vyas">
    <div class="card-body">
      <h6 class="card-title">Arushi Vyas</h6>
      <p class="card-text">Research Software/ML Engineer - ChRIS</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/arnavnidumolu.jpg" alt="Arnav Nidumolu">
    <div class="card-body">
      <h6 class="card-title">Arnav Nidumolu</h6>
      <p class="card-text">Research Developer - ChRIS ancillary services</p>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/jenningszhang.jpg" alt="Jennings Zhang">
    <div class="card-body">
      <h6 class="card-title">Jennings Zhang</h6>
      <p class="card-text">Research Developer - ChRIS</p>
    </div>
  </div>
</div> 

<h3>Massachusetts Open Cloud Team</h3>


<div class="card-columns moc" style="font-size: .75em">
    <div class="card text-center">
        <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/orrankrieger.jpg" alt="Orran Krieger">
        <div class="card-body">
          <h6 class="card-title">Orran Krieger</h6>
          <p class="card-text">Massachusetts Open Cloud (MOC) Project Lead</p>
        </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/robertbaron.png" alt="Robert Baron">
      <div class="card-body">
        <h6 class="card-title">Robert Baron</h6>
        <p class="card-text">Sr. Software Engineer</p>
      </div>
    </div>
</div>

<h3>Red Hat Team</h3>

<div class="card-columns rht" style="font-size: .75em">
    <div class="card text-center">
        <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/danmcpherson.jpg" alt="Dan McPherson">
        <div class="card-body">
          <h6 class="card-title">Dan McPherson</h6>
          <p class="card-text">Red Hat Distinguished Engineer</p>
        </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/parulsingh.jpg" alt="Parul Singh">
      <div class="card-body">
        <h6 class="card-title">Parul Singh</h6>
        <p class="card-text">Software Engineer</p>
      </div>
    </div>
    <div class="card text-center">
        <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/mairinduffy.jpg" alt="Máirín Duffy">
        <div class="card-body">
          <h6 class="card-title">M&aacute;ir&iacute;n Duffy</h6>
          <p class="card-text">UX Designer</p>
        </div>
      </div>
      <div class="card text-center">
          <img class="card-img-top img-fluid rounded-circle" src="/assets/images/team/billrainford.jpg" alt="Bill Rainford">
          <div class="card-body">
            <h6 class="card-title">Bill Rainford</h6>
            <p class="card-text">Engineering Manager & Senior Principal Software Engineer</p>
          </div>
        </div>
</div>

</div>
