h1#project_title {
  min-height: 130px;
  background-color: black;
  background-size: 172px 130px !important;
  background: url('https://raw.githubusercontent.com/FNNDSC/status/master/img/logo_chris-status.png') no-repeat;
  text-indent: -9999px;
  white-space: nowrap;
}
