
h1#project_title {
  min-height: 145px;
  background-color: black;
  background-size: 179px 145px !important;
  background: url('https://raw.githubusercontent.com/FNNDSC/status/master/img/logo_chris-status.png') no-repeat -7px;
  text-indent: -9999px;
  white-space: nowrap;
}
