@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --bg-standard: white;
  --nav-hover-bg-color: rgb(65, 65, 65);
  --shadow-standard: 0 0 3px rgba(0, 0, 0, 0.3);
  /*Teams*/
  --bg-team: rgb(122, 212, 237);
  --bg-team-exp: rgb(122, 212, 237);
  --trdr-fast: .05s;
  --trdr-medium: .4s;
  --trdr-slow: .5s;
  --trdr-standard: .2s;
}

.bcht {
  --bg-team: rgb(122, 212, 237);
  --bg-team-exp: rgb(31, 173, 214);
}

.moct {
  --bg-team: rgb(58, 124, 199);
  --bg-team-exp: rgb(24, 86, 156);
}

.redhat {
  --bg-team: rgb(190, 0, 0);
  --bg-team-exp: rgb(77, 0, 0);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 21px;
  margin: 0;
  padding: 15px 35px;
}

.chris-header {
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: clamp(85px, 10vh, 105px);
  text-align: center;
}

.chris-team {
  margin: 35px -35px 5vh 15px;
}

.chris-team-name {
  color: var(--bg-standard);
  background-color: var(--bg-team);
  font-size: 2rem;
  font-weight: bold;
  margin-left: auto;
  padding: 15px 35px 25px 35px;
  position: relative;
  text-align: right;
  width: 85vw;
}

.chris-team-name-expanded {
  align-items: center;
  background-color: var(--bg-team-exp);
  display: flex;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-top: 5px;
  min-height: 40px;
  padding: 0 35px;
  position: absolute;
  right: 0;
  justify-content: flex-end;
  width: 75%;
}

.chris-nav {
  align-items: center;
  background-color: var(--bg-standard);
  box-shadow: var(--shadow-standard);
  display: flex;
  height: 75px;
  justify-content: space-between;
  left: 0;
  padding: 0 15px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  transition-duration: var(--trdr-slow);
  z-index: 3;
}

.chris-nav-hov-state:hover {
  background-color: var(--nav-hover-bg-color);
  transition-duration: var(--trdr-medium);
}

.chris-nav-hov-state:hover .chris-nav-search-button img {
  filter: invert(1);
}

.chris-nav-hov-state:hover .chris-nav-area,
.chris-nav-hov-state:hover .menu-toggle-button {
  color: white;
}

.chris-nav .chris-nav-home-link {
  align-items: center;
  background-color: white;
  color: rgb(35, 35, 35);
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  width: auto;
}

.chris-nav-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100px;
}

.chris-nav h1 {
  font-weight: 300;
  font-size: 1.235rem;
}

.chris-nav img {
  height: auto;
  width: 65%;
}

.chris-nav-area {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 65%;
  transition-duration: var(--trdr-standard);
}

.chris-nav-search-box {
  height: 50%;
  padding: 0 15px;
  width: calc(95% - 30px);
}

.chris-nav-title {
  align-items: center;
  background-color: white;
  border: 1px none rgba(195, 195, 195, 0.5);
  border-right-style: solid;
  display: flex;
  font-size: 1.35rem;
  font-weight: 800 !important;
  height: 100%;
  padding: 0 35px;
}

.chris-nav-menu {
  align-items: center;
  display: flex;
  font-weight: 200;
  font-size: 1.125rem;
  flex-flow: row nowrap;
  height: 100%;
  list-style: none;
  justify-content: space-between;
  min-width: 55%;
  padding: 5px 0;
  overflow: hidden;
}

.chris-nav-menu li {
  font-weight: bold;
  height: 100%;
  padding: 0 clamp(5px, 5vw, 15px);
  transition-duration: var(--trdr-medium);
}

.chris-nav-menu li:hover {
  transition-duration: var(--trdr-fast);
}

.chris-nav-menu a {
  align-items: center;
  display: flex;
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.chris-nav-menu a::after {
  background-color: transparent;
  height: 1px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 65%;
  transition-duration: var(--trdr-standard);
}

.chris-nav-menu a:hover:after {
  background-color: white;
}

.chris-nav-search-box {
  /*To avoid a problem with CSS overrides, the search box MUST be hidden using the style attribute*/
}

.chris-nav-search-button {
  background-color: transparent;
  border: none;
  color: rgb(35, 35, 35);
  height: 100%;
}

.chris-nav-search-button img {
  height: auto;
  margin: auto;
  max-width: 48px;
  min-width: 32px;
}

.chris-nav-menu-button {
  background-color: transparent;
  border: none;
  color: rgb(35, 35, 35);
  display: none;
  height: 100%;
  padding: 0 35px;
  transition-duration: var(--trdr-medium);
}

.chris-nav-menu-button:hover,
.chris-nav-menu-button-active {
  background-color: var(--nav-hover-bg-color);
  border: none;
  color: var(--bg-standard);
  height: 100%;
  padding: 0 35px;
}

.chris-nav-menu-button img {
  height: auto;
  margin: auto;
  max-width: 48px;
  min-width: 32px;
  transition-duration: var(--trdr-slow);
}

.chris-nav-menu-button:hover img,
.chris-nav-menu-button-active img {
  filter: invert(1);
}

.chris-team-container {
  align-content: space-around;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-top: 5vh;
  margin-right: 5vw;
}

.chris-team-member {
  align-items: center;
  background-color: var(--bg-team);
  border-radius: 5px;
  box-shadow: 0 8px 15px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 15px 1%;
  width: 30%;
}

.chris-team-spacer {
  margin: 15px 1%;
  width: 30%;
}

.chris-team-member div {
  align-self: flex-end;
  align-items: center;
  background-color: var(--bg-standard);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 35px 36px 35px;
  margin: -25% 0 0 0;
  height: 85%;
  width: 100%;
}

.chris-team-member img {
  border-radius: 100%;
  height: auto;
  max-width: 120px;
  margin: 20px 0 0 0;
  z-index: 1;
}

.chris-team-member h6 {
  font-size: .95em;
  font-weight: bolder;
  line-height: 1.315em;
  margin: 15px 0 0 0;
  text-align: center;
}

.chris-team-member p {
  font-size: .65em;
  line-height: 2.315em;
  text-align: center;
}

.open {
  display: flex;
}

.closed {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .mobile-menu-open {
    display: flex !important;
  }

  .chris-nav-hov-state:hover .chris-nav-search-button img {
    filter: none;
  }

  .chris-nav-hov-state:hover {
    background-color: white;
  }

  .chris-nav-menu {
    background-color: var(--nav-hover-bg-color);
    bottom: 0;
    color: var(--bg-standard);
    flex-flow: column;
    justify-content: flex-start;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    height: -moz-fit-content;
    height: fit-content;
    right: 0;
    top: 55px;
    min-width: 100vw;
    height: 100%;
  }

  .chris-nav-menu-mobile {
    display: none;
  }

  .chris-nav-menu li {
    box-sizing: content-box;
    padding: 10px;
    height: 50px;
    text-align: center;
    margin: 10px 0;
    width: 100%;
  }

  .chris-nav-menu li a {
    padding: 10px 0;
    justify-content: center;
    height: 100;
    width: 100%;
  }

  .chris-nav-menu a:hover {
    background-color: var(--bg-standard);
    color: var(--nav-hover-bg-color);
  }

  .chris-nav-menu a::after {
    display: none;
  }

  .chris-nav-menu-button {
    display: flex;
  }
}

@media only screen and (min-width: 1180px) {
    .chris-team-member div {
      margin-top: -15%;
    }
}

@media only screen and (max-width: 800px) {
    .chris-team-member {
      padding-top: 20px;
      width: 90%;
    }

    .chris-team-member div {
      margin-top: -15%;
    }

    .chris-team-member p {
      font-size: 1em;
    }

    .chris-team-member h6 {
      font-size: 1.2em;
    }

    .chris-team-spacer {
      display: none;
    }
}

.chris-nav h1 span {
  display: none;
}

@media only screen and (max-width: 1125px) {
    .chris-nav br {
      display: none;
    }

    .chris-nav h1 {
      font-size: 1rem;
    }

    .chris-nav h1 span {
      display: inline;
    }

    .chris-nav-title {
      border-left-style: solid;
      font-size: .8rem;
      padding: 0 15px;
    }
}

input+span, input+span.active {
  display: none;
}

@media only screen and (max-width: 600px) {
  footer {
    margin: 0 35px;
    text-align: center;
  }

  body {
    font-size: 15px;
    padding: 35px 0;
  }

  .chris-team {
    margin: 15px 0;
    width: 100%;
  }

  input {
    border: 10px solid white;
    border-right-width: 0;
    left: 8px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
  }

  input+span.active {
    display: block;
    border: 1px solid grey;
    content: 'test';
    left: 11px;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    height: 48px;
    width: 95%;
    pointer-events: none;
  }

  .chris-team-name {
    box-sizing: border-box;
    font-size: 1.15rem;
    margin: 0;
    width: 100%;
    padding: 15px 15px 15px 0;
  }

  .chris-team-name-expanded {
    font-size: .75rem;
    letter-spacing: 0;
    line-height: 1.35rem;
    height: 50px;
  }
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  font-weight: bolder;
  line-height: 2rem;
}

footer > div {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0 35px 0;
  justify-content: center;
}

footer > div > div {
  margin: 10px 0 15px 0;
}

.bchsp-footer-link img {
  width: 100%;
  height: 50px;
}

.fnndsc-footer-link {
  line-height: 1.5rem;
  cursor: pointer;
  color: black;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: left;
}

.fnndsc-footer-link:hover {
  cursor: pointer;
  color: black;
}

.fnndsc-footer-link h5 {
  font-size: 1.35rem;
  margin: 0;
}

.fnndsc-footer-link p {
  font-size: .8rem;
  margin: 0;
}

.fnndsc-footer-link div {
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  width: 200px;
}

footer img {
  width: 80px;
  height: auto;
}

footer a {
  color: #00ab6b;
  text-decoration: none;
}

footer a:hover {
  color: #038252;
}
